@{
    ViewData["Title"] = "MCBA Home";
}

<div class="text-center">
    <h1 class="display-4">Hi, Welcome to MCBA</h1>

    <p class="text-muted">(Most Common Bank of Australia)</p>

    <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-controller="Login" asp-action="Login">Please login to continue</a>
</div>
