@{
    ViewData["Title"] = "Mekay Bank";
}
<div class=middle-align>

    <img class="landing-hero" src="~/images/bank-hero.jpg" />

	<h1>Welcome to Mekay Online Banking</h1> 

	@{
		<!--Check session data to see if user is logged in-->
		var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
	}
						
	<!--Display signin / create account prompts if not logged in-->
	@if(isLoggedIn == false)
	{
		<button class="btn-cta" asp-controller="Login" asp-action="Login">
			Create a New Account
		</button>

		<div class="sign-in-prompt middle-align">
			or <a class="link-text" asp-controller="Login" asp-action="Login">sign in</a> with an existing acount
		</div>
	}

</div>