@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/s3717205_a2.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="grid-navbar">

		<a asp-controller="Home" asp-action="Index">
			<div class="logo nav-item">
				<div class="nav-item-container middle-align">
					LOGO - MEKAY
				</div>
			</div>
		</a>

		<div></div>

		<!--Checks if user is logged in by checking session data-->
		@{
			var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
		}

		<!-- Navbar components when logged in -->
		@if(isLoggedIn == true)
		{
			<div class="nav-item">
				<div class="nav-item-container middle-align">
					<img class="icon-profile" src="~/images/icon-profile.svg" />
				</div>	
			</div>

			<div class="nav-item">
				<div class="nav-item-container middle-align">
					<img class="icon-hamburger" src="~/images/hamburger-bar.svg" />
				</div>
			</div>

		<!-- Navbar components when logged out -->
		} else {
			<a asp-controller="Login" asp-action="Login">
				<div class="nav-item">
					<div class="nav-item-container middle-align">
						Login
					</div>
				</div>
			</a>

			<a asp-controller="Login" asp-action="Login">
				<div class="nav-item">
					<div class="nav-item-container middle-align">
						Sign Up
					</div>
				</div>
			</a>
		}

	</div>


				
			

		

		
						
		<!--Links for Deposit, Transfer, Withdraw, My Statements & My Profile-->
		
			<!--
			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="Index">Dashboard</a>
			</div>
					
			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="Deposit">Deposit</a>
			</div>

			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="Withdraw">Withdraw</a>
			</div>
					
			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="Transfer">Transfer</a>
			</div>

			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="BillPay">BillPay</a>
			</div>

			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="MyStatements">My Statements</a>
			</div>

			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Customer" asp-action="MyProfile">My Profile</a>
			</div>

			<div class="p-2">
				<a class="nav-link text-white" asp-controller="Login" asp-action="Logout">Logout</a>
			</div>

	</div>

	-->

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
