@model Login

@{
    ViewData["Title"] = "Login";
}

<div class="grid-entry-form-page">

    <div class="entry-form middle-align">

        <h1>Login</h1>

        <form asp-action="Login">

            <div class="entry-form-item">
                <p>Username:</p>
                <input asp-for="LoginID" class="form-textbox" />
            </div>

            <div class="entry-form-item">
                <p>Password:</p>
                <input id="Password" name="Password" type="password" class="form-textbox" />
            </div>

            @Html.ValidationSummary(false, "", new { @class = "form-validation" })

            <input type="submit" value="Login" class="form-btn btn-medium" />

        </form>

        <div class="form-alt-entry-prompt middle-align">
			don't have an account? <a class="link-text" asp-controller="Login" asp-action="Login">create a new one</a> here.
		</div>

    </div>

    <div class="graphics-entry-form">

    </div>

</div>
