@model Login

@{
	ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<div>
	<hr />

	<form asp-action="ChangePassword">

		<label>Old Password:</label>
		<input id="OldPassword" name="OldPassword" type="password" class="form-control" />

		<label>New Password:</label>
		<input id="NewPassword" name="NewPassword" type="password" class="form-control" />

		<label>Confirm New Password:</label>
		<input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" />

		<input type="submit" value="Submit" class"btn btn-primary" />
	</form>

</div>