@model Customer

@{
    ViewData["Title"] = "Deposit";
}

<h1>Deposit Page</h1>

<div>
    <!--TODO : Deposit form, account dropdown list amount to deposit-->

    <!--form submit is greyed out until depositing a valid amount-->

    <!-- required to make a viewmodel for this?-->
</div>
