@model Customer

@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile Page</h1>

<div>
    <!--shows all profile data-->

    <!-- can click edit profile / cancel to open a form / close and submit change of details-->
</div>
