@model Account

@{
	ViewData["Title"] = "Withdraw";
}

<h1>Withdraw Page</h1>

<div>
   <hr />

	<form asp-action="Withdraw">

		<div class="form-group">
			<label asp-for="AccountNumber" class="control-label"></label>
			<input asp-for="AccountNumber" class="form-control" />
			<span asp-validation-for="AccountNumber" class="text-danger"></span>
			@Html.ValidationMessage("InvalidAccount", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label for="Amount" class="control-label">Amount</label>
			<input for="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
			data-val="true" data-val-number="Must give a valid deposit amount."
					data-val-required="A deposit amount is required." />
			@Html.ValidationMessage("NegativeAmount", new { @class = "text-danger" })
			@Html.ValidationMessage("TooManyDecimals", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<input type="submit" value="Withdraw" class"btn btn-primary" />
		</div>

	</form>

</div>
